@import 'colores'
@import 'mixins'

html, body
    width: 100%
    height: 100%

body
    justify-content: center
    align-items: start
    background: $colorFondo1

    div
        padding: 10px
        h2
            color: white

header
    background: $backgroundHeader
    color: $colorHeader
    width: 100%

.colors, .posts, .locals, .todo, .filtros
    border: 1px solid #ccc


.btnAnimation
    @extend .bordes
    &:hover
        +scale(1.3)
        +rotate(12deg)

.bordes
    border-radius: 10px
    border: 1px solid $colorBorde
    padding: 3px 10px
