<!doctype html>
<html lang="es" ng-app="ToDo">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <!-- Js -->
    <script src="Themes/js/main.js"></script>
    <script src="Themes/js/angular-local-storage.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Styles-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="Themes/css/main.css">
    <!-- Controller -->
    <script src="controller.js"></script>

    <title>Document</title>
</head>
<body>
    <header>
        <div class="container">
            <h1>Header</h1>
        </div>
    </header>
    <section class="container">
        <article ng-controller="todoController" class="main row">
            <div class="colors col-xm-12 col-sm-10 col-md-6 col-lg-4">
                <h1> PRUEBAS CON API, Sass & Glup </h1>
                <!-- <h2> Colores </h2>
            <select style="width: 300px;">
                <option value="0">-----------------</option>
                <option ng-repeat="img in images" style="background:url({{ img.url }}) no-repeat center left;padding-left: 25px;background-size: 20px;" value="{{ img.id }}">
                    {{ img.title }}
                </option>
            </select>
            <h2> Agregar colores </h2>
            <form ng-submit="addColors()">
                <input type="text" ng-model="todo.name">
                <input type="text" ng-model="todo.lastName">
                <input type="submit" value="send">
            </form> -->
            </div>
            <div class="posts col-xm-12 col-sm-10 col-md-6 col-lg-4">
                <div class="container-fluid">
                    <h2> Agregar post </h2>
                    <form ng-submit="addPost()">
                        <div class="form-group">
                            <label for="value">Value</label>
                            <input id="value" class="form-control" type="text" ng-model="post.title">
                        </div>
                        <div class="form-group">
                            <label for="valor">Valor</label>
                            <input id="valor" class="form-control" type="text" ng-model="post.body">
                        </div>
                        <input class="btn btn-primary btnAnimation" type="submit" value="send">
                    </form>
                    <h2> Posts </h2>
                    <select class="form-control">
                        <option value="0">-----------------</option>
                        <option ng-repeat="post in posts" value="{{ post.id }}">
                            {{ post.title }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="locals col-xm-12 col-sm-10 col-md-6 col-lg-4">
                <div class="container-fluid">
                    <h1>PRUEBAS LOCALES</h1>
                    <h2> Personas </h2>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-condensed">
                            <thead>
                                <tr class="active danger">
                                    <td> Name </td>
                                    <td> Last Name </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="todo in todos">
                                    <td> {{ todo.name }} </td>
                                    <td> {{ todo.lastName }} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <form class="form-inline" ng-submit="addPost()">
                        <div class="form-group">
                            <label for="name" class="sr-only">Nombre</label>
                            <input id="name" class="form-control" type="text" placeholder="Nombre" ng-model="todo.name">
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <label for="lastName" class="sr-only">Apellido</label>
                                <div class="input-group-addon">@</div>
                                <input id="lastName" class="form-control" type="text" placeholder="Apellidos" ng-model="todo.lastName">
                            </div>
                        </div>

                        <input class="btn btn-primary" type="submit" value="send">
                    </form>
                </div>
            </div>
            <div class="todo col-xm-12 col-sm-10 col-md-6 col-lg-4">
                <div class="container-fluid">
                    <h1>PRUEBAS Todo</h1>
                    <h2> ToDos </h2>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-condensed">
                            <thead>
                                <tr class="active danger">
                                    <td> Descripcion </td>
                                    <td> Fechas </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="td in tds">
                                    <td> {{ td.descripcion }} </td>
                                    <td> {{ td.fecha | date: 'short'}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <form ng-submit="addTd()">
                        <div class="form-group">
                            <label for="dato" class="control-label col-md-2">Dato</label>
                            <div class="col-md-10">
                                <input id="dato" class="form-control" type="text" ng-model="td.descripcion">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fecha" class="control-label col-md-2">Fecha</label>
                            <div class="col-md-10">
                                <input id="fecha" class="form-control" type="datetime-local" ng-model="td.fecha">
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary" type="submit" value="send">
                            <button class="btn btn-danger" ng-click="clean()">clean</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="filtros col-xm-12 col-sm-10 col-md-6 col-lg-4">
                    <h1>PRUEBAS FILTROS</h1>
                    <h2>quitando html de textos </h2>
                    <div class="filtros">
                        {{ mi_html | delChar}} <!-- el | filter es como invocar una funcion en el controler solo que de tipo filter -->
                    </div>
                </div>
        </article>
        <article ng-controller="filtrosController">
        </article>
    </section>
    <footer class="container-fluid bg-primary">
        <h3>Esneider espitia</h3>
    </footer>
</body>
</html>